body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container {
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    width: 100%;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
    color: #555;
    font-weight: 500;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="password"],
textarea,
select {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: 10px;
}

.checkbox-group,
.radio-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.checkbox-group label,
.radio-group label {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

input[type="submit"] {
    background-color: #131e29;
    margin-bottom: 10px;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    align-self: center;
}

input[type="button"] {
    background-color: #131e29;
    margin-bottom: 10px;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    align-self: center;
}

input[type="button"]:hover {
    background-color: #354d66;
}

.input-group {
    margin-bottom: 5px;
    text-align: left;
}

.login-container {
    margin-top: 20px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.btn-container {
    align-self: center;
}

input[type="submit"]:hover {
    background-color: #354d66;
}

a {
    text-decoration: none;
    background-color: #131e29;
    margin-bottom: 10px;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    align-self: center;
    margin-right: 20px;
}

a:hover {
    background-color: #1f3b56;
}

.edit-button {
    background-color: #0e0c2e;
    color: #fdf9f9;
    font-weight: 400;
    padding: 5px 15px;
    border-color: #333333;
}

.edit-button:hover {
    background-color: #0c0d56;
    color: #dddddd;
    font-weight: 400;
    border-color: #dddddd;
}

label.error {
    color: red;
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #484849;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: 500; 
} 

.btn-reject{
    color: rgb(205, 32, 32);
}

header {
    background-color: #0f0e1e;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .btn-container {
    display: flex;
    margin-top: 10px;
    margin-right: 20px;
    /* gap: 5px; */
}

header h1 {
    margin: 0;
    font-weight: 400;
    font-size: 1.4em; 
}

.btn-container a.btn {
    background-color: #dddfe1;
    color: #2f2f2f;
    padding: 8px 12px; /* Adjusted padding */
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    /* font-size: 0.9em; Adjusted font size */
}

.btn-container a.btn:hover {
    background-color: #747474;
}

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* padding-top: 80px; */
    gap: 20px;
}

.count-box {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    max-width: 600px;
}

.count-box div {
    background-color: #f4f4f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 150px;
    text-align: center;
}

.count-box p{
    margin-top: 10px;
}

footer {
    background-color: #0f0e1e;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    height: 40px;
    bottom: 0;
    left: 0;
}

footer p {
    margin-top: 10px;
    font-size: 0.9em;
}
